@using FPTBook.Models
@model List<FPTBook.Models.UserRolesViewModel>
@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<h1>User Roles</h1>
<form asp-controller="UserRoles" asp-action="Index">
    <p>
        Username: <input type="text" name="SearchString" />
        <input type="submit" value="Search" class="btn btn-primary" />
    </p>
</form>
<table class="table table-striped">
    <thead>
        <tr>
            <th>Username</th>
            <th>Name</th>
            <th>Email</th>
            <th>Roles</th>
            <th>Action</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var user in Model)
        {
            <tr>
                <td>@user.UserName</td>
                <td>@user.Name</td>
                <td>@user.Email</td>
                <td>@string.Join(" , ", user.Roles.ToList())</td>
                <td>
                    <a class="btn btn-success" asp-controller="UserRoles" asp-action="Manage"
                    asp-route-userId="@user.UserId">Manage Roles</a>
                </td>
            </tr>
        }
    </tbody>
</table>